<!-- head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="/static/assets/favicon.ico" rel="icon">

  <title>C. G.</title>  

<link href="/static/main.css" rel="stylesheet"></head>

<body>

 <!-- content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-nav-new navbar-right">
            <li><a href="#bio" title="" class="anchor-link" style="color:grey;" >About</a></li>
            <li><a href="#exp" title="" class="anchor-link" style="color:grey;">Experiences</a></li>
            <li><a href="#projects" title="" class="anchor-link" style="color:grey;">Projects</a></li>
            <li><a href="#contact-section-container" title="" class="anchor-link" style="color:grey;">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- app content-->
<div class="background-image-container white-text-container" style="background-image: url('/static/assets/images/front2.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="color:grey;">Chenxi Christine Gao</h1>
                <p class="" style="color:grey;">IS Programmer/Analyst</p>
                <a href="https://github.com/cg342" target="_blank" style="color:grey;" class="btn btn-primary btn-lg anchor-link"><i
                    class="fa fa-github"></i> Github</a>
                <a href="https://www.linkedin.com/in/chenxi-christine-gao-60582932/" target="_blank" style="color:grey;" class="btn btn-primary btn-lg anchor-link"><i
                class="fa fa-linkedin"></i> LinkedIn</a>
                <a href="/static/Chenxi_Resume_2019_July.pdf" target="_blank" class="btn btn-primary btn-lg anchor-link" title="" style="color:grey;"><i
                    class="fa fa-file-pdf-o"></i> Resume</a>

            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container" id="bio">
        <div class="image-column" style="background-image: url('/static/assets/images/research.png')"></div>
        <div class="container" >
            <div class="row">
                <div class="col-md-6 col-md-offset-6 text-column">
                    <h2>Programmer/Analyst</h2>
                    <h3>Brigham and Women's Hospital</h3>
                    <p> 🛏 Division of Sleep and Circadian Disorders</p>
                    <li>
                        <p>Wrote queries to retrieve, import, and export sleep data from Oracle database, 
                                and maintained the web interface for the Oracle database using Ruby on Rails</p>
                    </li>
                    <li>
                        <p>Developed a web interface for sleep data analysis, calculating wake duration and number of sleep episodes including REM and non-REM sleep latency, duration of final wake, and wake-sleep period, with Python, Flask, HTML5, CSS, Google Cloud Platform</p>
                    </li>
                    <li>
                        <p>Documented release notes and maintained code under Git version control </p>
                    </li>
                </div>
            </div>
        </div>
        
</div>

<div class="section-container" id="projects"> 
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <a href="http://34.73.78.75/" target="_blank">
                    <img src="/static/assets/images/data.png" alt="" class="img-responsive">
                </a>
                <h3 class="text-center">Sleep Analysis </h3>
                <p>A web UI for a sleep data analysis tool, built with Python, Flask, HTML, CSS and GCP</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <a href="http://34.73.78.75/demo" target="_blank">
                    <img src="/static/assets/images/web.png" alt="" class="img-responsive">
                </a>
                <h3 class="text-center">Web Sample</h3>
                <p>A simple web development for recreation</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="/static/assets/images/img-08.jpg" alt="" class="img-responsive">
                <h3 class="text-center">C</h3>
                <p>To bring sunlight and air into the compact mixed-use building,
                     the architects created a central courtyard, where they planted several trees.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="/static/assets/images/img-08.jpg" alt="" class="img-responsive">
                <h3 class="text-center">C</h3>
                <p>To bring sunlight and air into the compact mixed-use building,
                     the architects created a central courtyard, where they planted several trees.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="/static/assets/images/img-08.jpg" alt="" class="img-responsive">
                <h3 class="text-center">C</h3>
                <p>To bring sunlight and air into the compact mixed-use building,
                     the architects created a central courtyard, where they planted several trees.</p>
            </div>
        </div>
    </div>
</div>



<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Contact</h2>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">Email me a copy
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">I am a human
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Send message</button>
                    <a href="" class="btn btn-default">Reset</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <i class="far fa-browser"></i>
                    <p>&#9749; Developed with Flask</p>

                </div>
        </div>
    </div>
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.getElementById("myBtn").style.display = "block";
          } else {
            document.getElementById("myBtn").style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>


<script type="text/javascript" src="./main.faaf51f9.js"></script>